@mixin sm-and-down {
    @media(max-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin sm-and-up {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin md-and-up {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin lg-and-up {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin reset-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin reset-heading {
    margin: 0;
}

@mixin reset-p {
    margin: 0;
}

@mixin big-copy {
    @include reset-p;

    font-size: 18px;
    line-height: 1.3;
    color: $dark-grey-tint1;
}

@mixin copy {
    @include reset-p;

    font-size: 16px;
    line-height: 1.4;
    color: $dark-grey-tint1;
    // max-width: 450px;

    @include md-and-up {
        max-width: none;
    }

    margin-bottom: 14px;
}

@mixin img {
    width: 100%;
    height: auto;
}

.sm-only {
    display: block !important;

    @include md-and-up {
        display: none !important;
    }
}

.md-and-down {
    display: block !important;

    @include lg-and-up {
        display: none !important;
    }
}

.md-and-up {
    display: none !important;

    @include md-and-up {
        display: block !important;
    }
}

.lg-and-up {
    display: none !important;

    @include lg-and-up {
        display: block !important;
    }
}

.row > [class*='col-'].md-and-up {
    @include md-and-up {
        display: flex !important;
    }
}

@mixin svg-parts {
    path,
    circle,
    line,
    rect,
    polygon,
    polyline,
    ellipse {
        stroke: currentColor;
        fill: none;
    }
}
