//bootstrap overrides
$screen-sm-min: 0;
$screen-md-min: 600px;
$screen-lg-min: 972px;

$screen-min-width: 320px;

$grid-gutter-width: 16px;

$blue: #00308f;
$light-blue: #1d60c9;
$light-blue-tint1: #113e96;
$light-blue-tint2: #2597dd;
$light-blue-tint3: #5487D6;
$light-blue-tint4: #154798;
$light-blue-tint5: #417ad2;
$light-blue-tint6: #1a4b9a;
$dark-blue: #020c27;
$caa-blue: #00539b;

$facebook-blue: #3b5998;
$twitter-blue:  #4099FF;
$instagram-black: #000000;
$youtube-red:  #e52d27;
$google-red: #d84b37;
$linkedin-blue: #0077b5;

$green: #36c15f;
$green-tint1: #58cc7b;
$red: #ee3124;
$error-red: #f55f52;
$nav-red: #d02813;
$teal: #6ec9cd;

$white: #ffffff;
$grey: #dfdfe0;
$border-grey: #e5e5e5;
$grey-tint1: #e9e9e9;
$grey-tint2: #ededed;
$grey-tint3: #f8f8f8;
$grey-tint4: #d6d6d8;
$grey-tint5: #f0f0f0;
$grey-tint6: #f4f4f4;
$grey-tint7: #b7b7b7;
$grey-tint8: #f1f1f1;
$grey-tint9: #f5f5f5;
$grey-tint10: #dbdcdd;
$dark-grey: #d6d6d8;
$dark-grey-tint1: #4d5056;
$dark-grey-tint2: #e5e6e9;
$dark-grey-tint3: #231f20;
$dark-grey-tint4: #667695;
$light-grey-tint1: #9b9b9b;
$light-grey-tint2: #fafafa;

$font-thin: 200;
$font-bold: 700;
