@import "aaug-var-mix.scss";

[style*=MOP-102] {
  >div.mid>div.panel {
    >div.mol-row>div.mol-col-two p {
      // margin-bottom: 20px;
      font-size: 18px;
      width: 275px;
      margin-right: auto;
      margin-left: auto
    }

    >div.mol-row>div.mol-col-two:nth-child(1)>img {
      width: 75px;
      margin-bottom: 0
    }
  }

  .mol-col-two p {
    padding-bottom: 0
  }

  .main-slide & {
    background-color: #f5f5f5 !important;
    color: #00338d;

    .header-text {
      font-size: 24px;
      display: inline-block;
      margin-bottom: 16px;






      span {
        @include line-break()
      }
    }

    p {
      color: #00338d;

      >strong {
        font-size: 16px
      }
    }

    small {
      font-size: 11px;
      display: block;
      bottom: 12px;
      position: relative;
    }

    .mid .section__cta-container--center-btn {
      text-align: center
    }
  }
}

@media only screen and (min-width:540px) {
  [style*=MOP-102]>div.mid>div.panel>div.mol-row>div.mol-col-two p {
    width: 350px
  }
}

@media only screen and (min-width:600px) {
  .main-slide [style*=MOP-102] .header-text {
    margin-bottom: 12px;
    font-size: 32px
  }
}

@media screen and (min-width:701px) {
  .main-slide [style*=MOP-102] p>strong {
    font-size: 22px
  }
}

@media only screen and (min-width:701px) {

  [style*=MOP-102] {
    >div.mid>div.panel {
      >div.mol-row>div.mol-col-two p {
        margin-left: 0;
        margin-bottom: 0;
        text-align: left
      }

      >div.mol-row>div.mol-col-two:nth-child(1)>img {
        width: 60%;
        height: auto
      }

      >div.mol-row>div.mol-col-two:nth-child(2) {
        padding-top: 1%;
        position: relative
      }

      >div.mol-row>div.mol-col-two p span.desk-break {
        display: block
      }
    }



    .mol-col-two a.atom-btn-sml {
      left: 0;

      @media only screen {
        @media (min-width: 701px) {
          bottom: -45px;
        }

        // @media (min-width: 705px) {
        //   bottom: -58px;
        // }

        // @media (min-width: 768px) {
        //   bottom: -67px;
        // }

        // @media (min-width: 854px) {
        //   bottom: -74px;
        // }

        // @media (min-width: 1024px) {
        //   bottom: -93px;
        // }

        // @media (min-width: 1280px) {
        //   bottom: -82px;
        // }

        // @media (min-width: 1366px) {
        //   bottom: -141px;
        // }

        // @media (min-width: 1400px) {
        //   bottom: -118px;
        // }

        // @media (min-width: 1920px) {
        //   bottom: -110px;
        // }
      }
    }

    .main-slide & {
      .header-text {
        margin-left: 0
      }

      small {
        // text-align: left;
        // position: absolute;
        // bottom: -85px
      }

      >div>div>div {
        >div {
          &:nth-child(2) {
            text-align: left
          }

          &:nth-child(2)>div>a {
            margin-top: 32px;
            bottom: -40px !important
          }
        }
      }
    }
  }
}

@media (min-width:701px) {
  .main-slide [style*=MOP-102] p>strong {
    margin-bottom: 32px;
    display: block
  }
}

.main-slide [style*=MOP-102]>div>div>div>div:nth-child(2) {
  @media only screen and (min-width: 768px) {
    padding-top: 2%
  }

  @media only screen and (min-width:800px) {
    // .main-slide [style*=MOP-102]>div>div>div>div:nth-child(2) {
    padding-top: 3% // }
  }

  @media only screen and (min-width:854px) {
    // .main-slide [style*=MOP-102]>div>div>div>div:nth-child(2) {
    padding-top: 3.5% // margin-top: 3%
      // }
  }

  @media only screen and (min-width:1024px) {
    // .main-slide [style*=MOP-102]>div>div>div>div:nth-child(2) {
    padding-top: 5% // margin-top: 4%
      // }
  }

  @media only screen and (min-width:1152px) {
    padding-top: 5%
  }
}







@media only screen and (min-width:1280px) {
  .main-slide [style*=MOP-102] .header-text {
    font-size: 36px
  }
}

@media only screen and (min-width:1281px) {
  [style*=MOP-102] {
    >div.mid>div.panel {
      >div.mol-row>div.mol-col-two p {
        width: 500px
      }

      >div.mol-row>div.mol-col-two:nth-child(1) {
        text-align: left
      }

      >div.mol-row>div.mol-col-two:nth-child(1)>img {
        width: 70%
      }

      >div.mol-row>div.mol-col-two:nth-child(2) {
        margin-left: -50px
      }
    }
  }
}

@media only screen and (min-width:1281px) and (max-width:1399px) {
  [style*=MOP-102]>div.mid>div.panel>div.mol-row>div.mol-col-two:nth-child(2) {
    margin-top: 30px
  }
}

@media only screen and (min-width:1400px) {

  [style*=MOP-102] {
    .main-slide & {
      .header-text {
        font-size: 48px
      }

      div>div>div>div:nth-child(1) {
        width: 45%
      }

      >div>div>div>div:nth-child(2) {
        width: 60%;
        margin-top: 0;
        // padding-top: 8px
      }
    }
  }
}

@media only screen and (min-width:1920px) {
  [style*=MOP-102] {
    >div.mid>div.panel {
      >div.mol-row>div.mol-col-two:nth-child(1)>img {
        width: 75%
      }

      >div.mol-row>div.mol-col-two:nth-child(2) {
        margin-top: 30px
      }
    }
  }
}

@media only screen and (max-width:700px) {
  [style*=MOP-102] {
    >div.mid>div.panel>div.mol-row>div.mol-col-two p span.mobile-break {
      display: block
    }

    .mol-col-two {
      width: 100% !important;
      margin-left: 0 !important;
      margin-bottom: 4px
    }

    .mol-col-two a.atom-btn-sml {
      position: relative !important;
      bottom: 5px;
      margin-top: 0
    }

    .mol-col-two p {
      padding-bottom: 0
    }

    .main-slide & {
      .header-text {
        text-align: center
      }
    }
  }
}